<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">Publications</span></h1>
    </div>
  </div>
</div>
<div class="col-lg-4 text-center"></div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

  <ul style="list-style-type: none">

  <li class="entry wow fadeInLeft">
  <h2><strong>A Hypergraph Regularity Method for Linear Hypergraphs, with Applications</strong></h2>
        <em>S. Khan</em>, B. Nagle<br />
  LAP Lambert Academic Publishing, 2011
  <a href="https://www.amazon.com/Hyper-Regularity-Method-Linear-Hypergraphs/dp/3844388397/" target="_blank">[Amazon]</a>
  </li>
  <br />
  <li class="entry wow fadeInRight">
  <h2><strong>A Hypergraph Regularity Method for Linear Hypergraphs</strong></h2>
  <em>S. Khan</em><br />
  Master's Thesis, University of South Florida, May 2009
  <a href="http://scholarcommons.usf.edu/cgi/viewcontent.cgi?article=3041&context=etd" target="_blank">[Thesis]</a>
  </li>
  </ul>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
